h3{
  font-size: 40px;
 text-align: center;
  margin-top: -10%;
  margin-bottom: 12%;
}
/* header{
  background-color:;
} */
#lis{
  border-radius: 45px;
  padding: 10px;
}
#lis:hover {
 color: #4b527d;
  border: #4b527d solid 1px;
  background:#fff;

}


#myLoger{
  margin-left: 2%;
}
body{
    background-color:#dcdede ;
  opacity: .9;

}

/* nav{
  background-color: black;
} */

.nav_links{
  list-style:none;
  float:right;
  background: none;
  margin-top: -9%;
  margin-right: 2%;
  box-shadow: .5px 2px 3px .4px rgba(0,0,0,0.3);
  padding: 10px;
  border-radius: 45px;
}
.nav_links li{
  display: inline-block;
  padding: 0 15px;
  /* background-color:  ; */
}

.nav_links li a{
  transition: all 0.3s ease 0s;
   /* background-color: ;
  float:; */
  text-decoration:none;
  padding: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  color:black;
  border-radius: 0px;
  font-size: 18px;

}
.nav_links li a:hover{
  color: black;
  opacity: .8;
  
}

button{
padding: 9px 25px;
  background-color: #e1faf6;
    border:  #e1faf6 solid 1px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;

}
button:hover{
  color: #4b527d;
  border: #4b527d solid 1px;
  background:#fff;

}




.search-box{
  position:absolute;
  top: 160px;
  margin-bottom: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: purple;
  height: 40px;
  width: 40%;
  border-radius: 40px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}


.search-box:hover > .search-btn{
  background:white;
  
}
.search-btn{
  float:right;
  color:#f52f0c;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: purple;
  display:flex;
  justify-content:center;
  align-items: center;
}
.search-text{
  border:none;
  background:none;
  outline:none;
  float:left;
  padding:3px;
  font-size:20px;
  color:white;
  transition: 0.4s;
  line-height: 40px;
}

#logoImage{
  opacity: 1.0;
  margin-top: -2%;
  margin-bottom: 5%;
}
/* .website{
  opacity: 12;
} */
header{
  margin-bottom: 7%;
  opacity: 1.0;
}
h1{
  text-align: center;
  font-size: 50px;
  margin-top: -6%;
}
.all{
  border:hidden;
  opacity: 1.0;
  box-sizing:border-box;
  padding:100px;
  width: 55%;
  background-color: white;
  margin:0 auto;
  text-align:center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);  
}

.everything{
  text-align:center;
}

#submit, #clear{
  margin-top: 9%;
  width: 45%;
  padding: 15px;
  border:hidden;
  font-size: 18px;
  border-radius: 7px;
  font-family: 'Montserrat', sans-serif;
  color:white;
  background-color: #2b0aff;
  cursor:pointer;
}
#clear{
  background-color: #ed0726;
}

#user, #pass{
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 2px;
}